:root {
	--primary : #111;
	--secondary : #fd0;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: var(--secondary);
}

.select-box {
	width: 26rem;
	margin: 7em auto;
}

.select-box input {
	width: 100%;
	padding: 1rem .6rem;
	font-size: 1.1rem;

	border: none;
	outline: none;
}

.select-box input :focus {
	border: 1rem solid var(--primary);
}

.selected-option {
	background-color: #eee;
	border-radius: .5rem;
	overflow: hidden;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.selected-option {
	
}